apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: my-app
  namespace: argocd
spec:
  project: default

  source:
    repoURL: https://github.com/ryansissom/aws-eks-deployment-pipeline.git
    targetRevision: main
    path: kubernetes/apps

  destination:
    server: https://kubernetes.default.svc
    namespace: my-app-ns

  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true